<!DOCTYPE html>
<html>
	<head>
		<title>Quiz</title>
		<meta charset='utf-8'>
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<body ng-app='quiz' ng-controller='guessController'>

		<div class="well">
			<div class="text-center">
				<h1>Quiz</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
			
				<h2>Question: {{chosenWord.description}}</h2>

				<hr>

				<div class="input-group">
					<input type="text" class="form-control" ng-model="guess">
					<div class="input-group-btn">
						<button class="btn btn-warning" ng-hide="wordGuessed" ng-show="showWarning" ng-click="checkWord()" ng-disabled="whatIf()">CHECK</button>
					</div>
				</div>
				
				<h4>Number of attempts: {{guessNum}}/3</h4>
				<button class="btn btn-success" ng-click='initGame()'>RESTART</button>
				
				<hr>

				<div class="alert alert-danger" role="alert" ng-show="showWarning">
  					<p> {{ msgError }} </p>
				</div>
				
			</div>
			<div class="col-md-6" >
				<div class="alert alert-success" role="alert" ng-show="showAnswer">
					<h2 ng-show='wordGuessed'>Congratulations! The answer is: {{chosenWord.word}}</h2>
				</div>
		
				<h3>Your attempts:</h3>
				<ul>
				<!-- musiałem utworzyc zmienna tablicowa "empty", do ktorej przy kliknieciu zostaja dodane kolejne elementy -->
					<li class="well well-sm attempts" ng-repeat="attempts in empty"> {{ attempts }}</li>
				</ul>
			</div>
		</div>
	
		<script src="node_modules/angular/angular.min.js"></script>	
		<script src="app.js"></script>
		<script src="node_modules/jquery/dist/jquery.min.js"></script>	
		<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>

<!-- problemem bylo nieodpowiednie nadanie ng-model dla inputa Część komponentów korzystała z app, a część z guess. -->